@charset"Shift_JIS";

/* CSS Document */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, blockquote, pre,abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}
body { background:url(../images/bg/bk.gif); }

/*com
************************/
.lim{ float:left; padding:0 10px 0 0;}
.rim{ float:right; padding:0 0 0 10px;}
.f1 { color:#F00;}
.f2 { color:#F60;}
.f3 { color:#096;}

/*header
************************/
div#header { width:780px; height:184px; margin:25px auto 0 auto;}
div#header h1.shopinfo { float:right; width:100%; height:auto; font-size:0.8em; font-weight:normal; color:#FFF; margin:0 0 5px 0; text-align:right;}
div#header h2.rogo a{ float:left; display:block; width:260px; height:84px; background:url(../images/rogo.png) no-repeat; behavior: expression(IEPNGFIX.fix(this)); overflow:hidden; text-indent:-7864px; margin:5px 0 0 0;}
div#header h3.shopcoment {
	float:right;
	width:510px;
	height:74px;
	margin-top:10px;
	background:url(../images/coment.png) no-repeat; behavior: expression(IEPNGFIX.fix(this));
	text-indent:-9512px;
}

/*main
************************/
div#topmain {
	clear:both;
	width:100%;
	height:280px;
	margin:20px auto 0px auto;
	background:url(../images/main_bk.png);
	text-align:center;
	behavior: expression(IEPNGFIX.fix(this));
}
div#topmain h4{
	width:780px;
	height:280px;
	margin:0px auto;
	background:url(../images/main.png) no-repeat;
	text-indent:-7645px;
	behavior: expression(IEPNGFIX.fix(this));
}
div#submain {
	clear:both;
	width:100%;
	height:15px;
}

/*Menu
************************/
div#menu {
	clear:both;
	width:100%;
	height:60px;
	padding:0 0 8px 0;
	background:url(../images/menu_bk.png) center top;
	text-align:center;
	behavior: expression(IEPNGFIX.fix(this));
}
div#menu ul{
	clear:both;
	width:780px;
	height:60px;
	margin:0 auto;
	list-style:none;
}
div#menu li{
	float:left;
	width:156px;
	height:60px;
	text-indent:-7935px;
	overflow:hidden;
}
div#menu li.bm-top {
	display:block;
	width:156px;
	height:60px;
	background:url(../images/btn/btn_toppage.gif) top no-repeat;
	background-position:0 -60px;
}
div#menu li.bm-rm {
	display:block;
	width:156px;
	height:60px;
	background:url(../images/btn/btn_rdish.gif) top no-repeat;
	background-position:0 -60px;
}
div#menu li.bm-me {
	display:block;
	width:156px;
	height:60px;
	background:url(../images/btn/btn_menu.gif) top no-repeat;
	background-position:0 -60px;
}
div#menu li.bm-ac {
	display:block;
	width:156px;
	height:60px;
	background:url(../images/btn/btn_access.gif) top no-repeat;
	background-position:0 -60px;
}
div#menu li.bm-br {
	display:block;
	width:156px;
	height:60px;
	background:url(../images/btn/btn_blog.gif) top no-repeat;
	background-position:0 -60px;
}
div#menu li.bm-top a{
	display:block;
	width:156px;
	height:60px;
	background:url(../images/btn/btn_toppage.gif);
}
div#menu li.bm-rm a{
	display:block;
	width:156px;
	height:60px;
	background:url(../images/btn/btn_rdish.gif);
}
div#menu li.bm-me a{
	display:block;
	width:156px;
	height:60px;
	background:url(../images/btn/btn_menu.gif);
}
div#menu li.bm-ac a{
	display:block;
	width:156px;
	height:60px;
	background:url(../images/btn/btn_access.gif);
}
div#menu li.bm-br a{
	display:block;
	width:156px;
	height:60px;
	background:url(../images/btn/btn_blog.gif);
}
div#menu li a:hover { background-position:0 -60px; }

/*eria
************************/
div#mbody {
	clear:both;
	width:780px;
	height:auto;
	margin:0 auto;
	padding:10px;	
}

div#f-left {
	float:left;
	width:530px;
	height:auto;	
}
div#f-right {
	float:right;
	width:230px;
	height:auto;	
}
/*
************************/
div#leria {
	clear:both;
	width:530px;
	height:auto;	
}
div#leria h3{
	clear:both;
	width:520px;
	height:30px;
	padding:6px 0 0 10px;
	background: url(../images/title_bg.png);
	behavior: expression(IEPNGFIX.fix(this));
	color:#FFF;
}
div#leria dl{
	clear:both;
	width:530px;
	height:auto;
	margin:0 0 15px 0;
	background:#FFF;
}
div#leria dd{
	clear:both;
	width:510px;
	height:auto;
	padding:10px;
	background:#FFF;
	font-size:0.8em;
	line-height:1.5em;
	color:#333;
}
div#leria dt.spac{
	clear:both;
	width:510px;
	height:auto;
}
/*
************************/
div#top-rem-l {
	float:left;
	width:170px;
	height:auto;
	padding:7px 0 7px 5px;
	background:#FFF;
	font-size:0.9em;
}
div#top-rem-l h4{
	clear:both;
	width:150px;
	height:22px;
	padding:8px 0 0 15px;
	background:url(../images/top_rank_t_bg.png);
	color:#FFF;
}
div#top-rem-l dl {
	clear:both;
	width:170px;
	height:auto;
}
div#top-rem-l dd.tr-rt {
	clear:both;
	width:154px;
	height:auto;
	padding:3px;
	margin:7px auto 3px auto;
	color:#900;
	font-size:0.8em;
	background:#900;
	color:#FFF;
}
div#top-rem-l dt.tr-img {
	clear:both;
	width:160px;
	height:auto;
	margin:3px auto;
}
div#top-rem-l dd.tr-rtd {
	clear:both;
	width:160px;
	height:auto;
	padding:13px 0 3px 0;
	margin:3px auto;
	background:url(../images/t_set_bg.gif) top left no-repeat;
	border-bottom:1px dashed #900;
	font-size:0.7em;
}

div#top-rem-c {
	float:left;
	width:170px;
	height:auto;
	padding:7px 5px;
	font-size:0.8em;
}

div#top-rem-c h4{
	clear:both;
	width:150px;
	height:22px;
	padding:8px 0 0 15px;
	background:url(../images/top_rank_t_bg.png);
	color:#FFF;
}
div#top-rem-c dl {
	clear:both;
	width:170px;
	height:auto;
}
div#top-rem-c dd.tr-rt {
	clear:both;
	width:154px;
	height:auto;
	padding:3px;
	margin:7px auto 3px auto;
	color:#900;
	font-size:0.9em;
	background:#900;
	color:#FFF;
}
div#top-rem-c dt.tr-img {
	clear:both;
	width:160px;
	height:auto;
	margin:3px auto;
}
div#top-rem-c dd.tr-rtd {
	clear:both;
	width:160px;
	height:auto;
	padding:13px 0 3px 0;
	margin:3px auto;
	background:url(../images/t_set_bg.gif) top left no-repeat;
	border-bottom:1px dashed #900;
	font-size:0.8em;
}

div#top-rem-r {
	float:left;
	width:170px;
	height:auto;
	padding:7px 5px 7px 0;
	background:#FFF;
	font-size:0.8em;
}
div#top-rem-r h4{
	clear:both;
	width:150px;
	height:22px;
	padding:8px 0 0 15px;
	background:url(../images/top_rank_t_bg.png);
	color:#FFF;
}
div#top-rem-r dl {
	clear:both;
	width:170px;
	height:auto;
}
div#top-rem-r dd.tr-rt {
	clear:both;
	width:154px;
	height:auto;
	padding:3px;
	margin:7px auto 3px auto;
	color:#900;
	font-size:0.9em;
	background:#900;
	color:#FFF;
}
div#top-rem-r dt.tr-img {
	clear:both;
	width:160px;
	height:auto;
	margin:3px auto;
}
div#top-rem-r dd.tr-rtd {
	clear:both;
	width:160px;
	height:auto;
	padding:13px 0 3px 0;
	margin:3px auto;
	background:url(../images/t_set_bg.gif) top left no-repeat;
	border-bottom:1px dashed #900;
	font-size:0.8em;
}
/*
************************/
div#f-right h4.banar {
	clear:both;
	width:230px;
	height:auto;
	margin:0 0 10px 0;
	padding:0;
}
div#f-right h4.d3-banar a {
	clear:both;
	display:block;
	width:230px;
	height:222px;
	margin:0 0 10px 0;
	background:url(../images/banar/d3.png) no-repeat;
	behavior: expression(IEPNGFIX.fix(this));
	text-indent:-9167px;
	overflow:hidden;
}

div#f-right h4.d4 {
	clear:both;
	display:block;
	width:230px;
	height:206px;
	margin:0 0 10px 0;
	background:url(../images/banar/d4.png);
	behavior: expression(IEPNGFIX.fix(this));
	text-indent:-9167px;
	overflow:hidden;
}


div#f-right h4.izakaya-banar a{
	clear:both;
	display:block;
	width:230px;
	height:115px;
	margin:0 0 10px 0;
	background:url(../images/banar/banar_izakaya.png);
	behavior: expression(IEPNGFIX.fix(this));
	text-indent:-9167px;
	overflow:hidden;
}

div#f-right h4.oderbk-banar a{
	clear:both;
	display:block;
	width:230px;
	height:212px;
	background:url(../images/banar/banar_orderbk.png);
	behavior: expression(IEPNGFIX.fix(this));
	text-indent:-9167px;
	overflow:hidden;
}
div#f-right h4.oderbk-banar a:hover { background-position:0 -212px;}
div#f-right h4.holiday-banar a{
	clear:both;
	display:block;
	width:230px;
	height:185px;
	margin:10px 0 0 0;
	background:url(../images/banar/banar_holiday.gif);
	behavior: expression(IEPNGFIX.fix(this));
	text-indent:-9167px;
	overflow:hidden;
}
div#f-right h4.holiday-banar a:hover { background-position:0 -185px;}
div#f-right h4.takeout-banar {
	clear:both;
	display:block;
	width:230px;
	height:197px;
	margin:10px 0 0 0;
	background:url(../images/banar/banar_takeout.png);
	behavior: expression(IEPNGFIX.fix(this));
	text-indent:-9167px;
}
/*access
************************/
div#leria dt.acs-t {
	float:left;
	width:134px;
	height:auto;
	margin:7px 0 0 15px;
	padding:3px;
	background:#999;
	font-size:0.9em;
	background:#E8E8E8;
	text-align:center;
}
div#leria dt.acs-c {
	float:right;
	width:344px;
	height:auto;
	margin:7px 15px 0 10px;
	padding:3px;
	background:#090;
	font-size:0.9em;
	background:#F6F6F6;
}
div#leria dt.spac{
	clear:both;
	width:510px;
	height:auto;
}
div#leria dt.spac-bl{
	clear:both;
	width:500px;
	height:7px;
	margin:0 auto;
	border-bottom:1px dashed #C30;
}
div#leria dd.acsmap {
	clear:both;
	width:500px;
	height:auto;
	padding:0;
	margin:10px auto;
}
div#leria dd.acsmap-t {
	clear:both;
	width:500px;
	height:auto;
	padding:0;
	margin:5px auto;
}
/*sidemenu
************************/
div#sidemenu {
	float:left;
	width:156px;
	height:auto;
}
div#sidemenu h4{
	clear:both;
	width:156px;
	height:33px;
	margin:0;
	padding:17px 0 0 0;
	background:url(../images/menu_sidet_bg.gif) top no-repeat;
	text-align:center;
	font-size:0.8em;
	color:#000;
	text-indent:-9165px;
}
div#sidemenu ul{
	clear:both;
	width:142px;
	height:auto;
	padding:3px 7px 7px 7px;
	background:#ae0001;
	list-style:none;
	font-size:0.9em;
}

div#sidemenu li {
	clear:both;
	width:142px;
	height:33px;
	padding:0;
	margin:3px 0 0 0;
	text-indent:-8164px;
}
div#sidemenu li a{
	clear:both;
	display:block;
	width:142px;
	height:33px;
	padding:0;
	margin:3px 0 0 0;
	text-indent:-8164px;
}
div#sidemenu li.side01{ background:url(../images/side/a01.gif); background-position:0 -33px; }
div#sidemenu li.side02{ background:url(../images/side/a02.gif); background-position:0 -33px; }
div#sidemenu li.side03{ background:url(../images/side/a03.gif); background-position:0 -33px; }
div#sidemenu li.side04{ background:url(../images/side/a04.gif); background-position:0 -33px; }
div#sidemenu li.side05{ background:url(../images/side/a05.gif); background-position:0 -33px; }
div#sidemenu li.side06{ background:url(../images/side/a06.gif); background-position:0 -33px; }
div#sidemenu li.side07{ background:url(../images/side/a07.gif); background-position:0 -33px; }
div#sidemenu li.side08{ background:url(../images/side/a08.gif); background-position:0 -33px; }
div#sidemenu li.side09{ background:url(../images/side/a09.gif); background-position:0 -33px; }
div#sidemenu li.side10{ background:url(../images/side/a10.gif); background-position:0 -33px; }
div#sidemenu li.side11{ background:url(../images/side/a11.gif); background-position:0 -33px; }

div#sidemenu li.side01 a{ background:url(../images/side/a01.gif); background-position:0 0;}
div#sidemenu li.side02 a{ background:url(../images/side/a02.gif); background-position:0 0;}
div#sidemenu li.side03 a{ background:url(../images/side/a03.gif); background-position:0 0;}
div#sidemenu li.side04 a{ background:url(../images/side/a04.gif); background-position:0 0;}
div#sidemenu li.side05 a{ background:url(../images/side/a05.gif); background-position:0 0;}
div#sidemenu li.side06 a{ background:url(../images/side/a06.gif); background-position:0 0;}
div#sidemenu li.side07 a{ background:url(../images/side/a07.gif); background-position:0 0;}
div#sidemenu li.side08 a{ background:url(../images/side/a08.gif); background-position:0 0;}
div#sidemenu li.side09 a{ background:url(../images/side/a09.gif); background-position:0 0;}
div#sidemenu li.side10 a{ background:url(../images/side/a10.gif); background-position:0 0;}
div#sidemenu li.side11 a{ background:url(../images/side/a11.gif); background-position:0 0;}

div#sidemenu li a:hover{
	background-position:0 -33px;	
}
/*menueria
************************/
div#menueria {
	float:right;
	width:610px;
	height:auto;	
}
div#menueria h3 {
	clear:both;
	width:600px;
	height:28px;
	padding:8px 0 0 10px;
	background:url(../images/title_mbg.png);
	behavior: expression(IEPNGFIX.fix(this));
	color:#FFF;
	font-size:1em;
}
div#menueria dl{
	clear:both;
	width:610px;
	height:auto;
	padding:0;
	background:#FFF;	
}
div#menueria dd.mb {
	float:left;
	width:590px;
	height:auto;
	border:1px solid #C30;
	margin:10px 0 0 10px;
}

div#menueria dd.mb2 {
	float:left;
	width:288px;
	height:198px;
	border:1px solid #C30;
	margin:10px 0 0 10px;
}
div#menueria dd.mb2t {
	float:left;
	width:233px;
	height:auto;
	padding:5px 5px 5px 50px;
	border:1px solid #C30;
	margin:10px 0 0 10px;
	font-size:1em;
	line-height:1em;
}
div#menueria dd.bmt {
	float:left;
	width:576px;
	height:auto;
	padding:3px 5px 3px 5px;
	border:1px solid #C30;
	margin:10px 0 0 10px;
	font-size:0.9em;
	color:#fff;
	line-height:1em;
	background:#C30;
}
div#menueria dd.bmtn {
	float:left;
	width:195px;
	height:auto;
	padding:3px 5px 3px 15px;
	margin:10px 0 0 10px;
	font-size:0.8em;
	line-height:0.8em;
}
div#menueria dd.bmte {
	float:left;
	width:160px;
	height:auto;
	padding:3px 5px 3px 5px;
	margin:10px 0 0 10px;
	font-size:0.8em;
	line-height:0.8em;
}
div#menueria dd.bmtg {
	float:left;
	width:80px;
	height:auto;
	padding:3px 5px 3px 5px;
	margin:10px 0 0 10px;
	font-size:0.8em;
	line-height:0.8em;
	text-align:center;
}
div#menueria dd.bmtm {
	float:left;
	width:50px;
	height:auto;
	padding:3px 5px 3px 5px;
	margin:10px 0 0 10px;
	font-size:0.8em;
	text-align:right;
	line-height:0.8em;
}
.n27 { background:url(../images/menu/n27.gif) no-repeat; background-position: 10px 10px;}
.n28 { background:url(../images/menu/n28.gif) no-repeat; background-position: 10px 10px;}
.n29 { background:url(../images/menu/n29.gif) no-repeat; background-position: 10px 10px;}
.n30 { background:url(../images/menu/n30.gif) no-repeat; background-position: 10px 10px;}
.n34 { background:url(../images/menu/n34.gif) no-repeat; background-position: 10px 10px;}
.n35 { background:url(../images/menu/n35.gif) no-repeat; background-position: 10px 10px;}
.n36 { background:url(../images/menu/n36.gif) no-repeat; background-position: 10px 10px;}
.n37 { background:url(../images/menu/n37.gif) no-repeat; background-position: 10px 10px;}
.n38 { background:url(../images/menu/n38.gif) no-repeat; background-position: 10px 10px;}
.n39 { background:url(../images/menu/n39.gif) no-repeat; background-position: 10px 10px;}

div#menueria dd.mb3 {
	float:left;
	width:188px;
	height:178px;
	border:1px solid #C30;
	margin:10px 0 0 10px;
}
div#menueria dt.mspc {
	clear:both;
	width:590px;
	height:auto;
	margin:0 auto;
	padding:10px 0;
	font-size:0.8em;
	line-height:1.5em;
}

div#menueria p.tttl {
	float:left;
	width:315px;
	height:auto;
	margin:5px;
	padding:3px 3px 3px 7px;
	font-size:1em;
	line-height:1.5em;
	background:#C30;
	color:#FFF;
}
div#menueria p.tttlb {
	float:left;
	width:315px;
	height:auto;
	margin:5px;
	padding:3px 3px 3px 7px;
	font-size:0.8em;
	line-height:1.3em;
}
div#menueria p.telt {
	float:left;
	width:145px;
	height:auto;
	margin:5px;
	padding:3px 3px 3px 7px;
	font-size:0.7em;
	line-height:1.5em;
}


/*footer
************************/
div#footer {
	clear:both;
	width:100%;
	height:32px;
	padding:8px 0;
	background:url(../images/footer_bg.png);
	behavior: expression(IEPNGFIX.fix(this));	
}
div#footer ul{
	clear:both;
	width:780px;
	height:auto;
	margin:0 auto;
	padding:7px 0 0 0;
	list-style:none;
	font-size:0.8em;
	text-align:center;
}

div#footer li a { color:#FFF; text-decoration:none;}
div#footer li a:hover {color: #fff; text-decoration: underline;}

div#footer li.fm1{
	display:inline;
	padding:0 6px 0 5px;
	border-right:1px solid #FFF;
}
div#footer li.fm2{
	display:inline;
	padding:0 6px 0 5px;
}
div#copyright {
	clear:both;
	width:780px;
	height:auto;
	margin:0 auto;
	padding:0 0 5px 0;
	text-align:right;
	font-size:0.8em;
	color:#87471f;
}