@charset"Shift_JIS";

.dis-t { width:99%; margin:5px auto; padding:0; border-collapse:collapse;}
.dis-tl { width:55px; height:55px; background:url(../images/bg/top_bk_left.gif);}
.dis-tr { width:55px; height:55px; background:url(../images/bg/top_bk_right.gif);}
.dis-tc { width:auto; height:55px; background:url(../images/bg/top_bk_center.gif);}

.dis-cl { width:55px; height:100%; background:url(../images/bg/middle_bk_left.gif);}
.dis-cr { width:auto; height:100%; background:url(../images/bg/middle_bk_right.gif);}
.dis-cc { width:auto; height:100%; }

.dis-bl { width:55px; height:55px; background:url(../images/bg/bottom_bk_left.gif);}
.dis-br { width:55px; height:55px; background:url(../images/bg/bottom_bk_right.gif);}
.dis-bc { width:auto; height:55px; background:url(../images/bg/bottom_bk_center.gif);}
