@charset"Shift_JIS";

/*-toppage
-----------------------------------*/
div#container { padding: 0; } 
div#message {
	display: block;
	display: none;
	z-index: 999;
	opacity: .6;
	position: fixed;
	top: 100%;
	margin-top: -100px;
	left: 90%;
	margin-left: -80px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: auto;
	height:auto;
	padding: 10px 20px;
	background-color: #000000;
	font-size: 0.8em;
	text-align: center;
}
div#message a { display:block; width:80px; height:16px; color: #fff; }
